/*
    You can add your own custom styles here.
*/

/* AlteHaasGrotesk Regular*/
@font-face {
    font-family: 'AlteHaasGrotesk';
    font-style: normal;
    font-weight: normal;
    src: local(''),
        url('fonts/AlteHaasGroteskRegular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('fonts/AlteHaasGroteskRegular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* AlteHaasGrotesk Bold*/
@font-face {
    font-family: 'AlteHaasGrotesk';
    font-style: normal;
    font-weight: bold;
    src: local(''),
        url('fonts/AlteHaasGroteskBold.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('fonts/AlteHaasGroteskBold.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* OverusedGrotesk Book*/
@font-face {
    font-family: 'OverusedGrotesk';
    font-style: normal;
    font-weight: normal;
    src: local(''),
        url('fonts/overused-grotesk/OverusedGrotesk-Roman.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('fonts/overused-grotesk/OverusedGrotesk-Roman.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* OverusedGrotesk Book Italic*/
@font-face {
    font-family: 'OverusedGrotesk';
    font-style: italic;
    font-weight: normal;
    src: local(''),
        url('fonts/overused-grotesk/OverusedGrotesk-BookItalic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('fonts/overused-grotesk/OverusedGrotesk-BookItalic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* OverusedGrotesk Bold*/
@font-face {
    font-family: 'OverusedGrotesk';
    font-style: normal;
    font-weight: bold;
    src: local(''),
        url('fonts/overused-grotesk/OverusedGrotesk-Bold.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('fonts/overused-grotesk/OverusedGrotesk-Bold.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* OverusedGrotesk Bold Italic*/
@font-face {
    font-family: 'OverusedGrotesk';
    font-style: italic;
    font-weight: bold;
    src: local(''),
        url('fonts/overused-grotesk/OverusedGrotesk-BoldItalic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('fonts/overused-grotesk/OverusedGrotesk-BoldItalic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    font-family: 'OverusedGrotesk', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.article-status {
    color: var(--card-text-color-tertiary);
    font-size: 1.4rem;

    svg {
        vertical-align: middle;
        width: 20px;
        height: 20px;
        stroke-width: 1.33;
        flex-shrink: 0;
    }
}

.article-list {
    display: flex;
    flex-direction: column;
    gap: var(--section-separation);

    article {
        display: flex;
        flex-direction: column;
        background-color: var(--card-background);
        box-shadow: var(--shadow-l1);
        border-radius: var(--card-border-radius);
        overflow: hidden;

        transition: box-shadow 0.3s ease;

        &:hover {
            box-shadow: var(--shadow-l2);
        }

        .article-image {
            img {
                width: 100%;
                height: 250px;
                object-fit: cover;

                @include respond(md) {
                    height: 300px;
                }

                @include respond(xl) {
                    height: 450px;
                }
            }
        }

        @for $i from 1 through length($defaultTagBackgrounds) {
            &:nth-child(#{length($defaultTagBackgrounds)}n + #{$i}) {
                .article-category a {
                    background: nth($defaultTagBackgrounds, $i);
                    color: nth($defaultTagColors, $i);
                }
            }
        }
    }
}

.article-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--card-padding);
    gap: 15px;
}